<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="wscsp-client-dc.ZPM">
    <Module>
      <Name>wscsp-client-dc</Name>
      <Version>1.0.5</Version>
      <Description>Extended CSP page consuming WebService as Client</Description>
      <Keywords>CSP, WebSocket, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="dc.WSCSP.PKG"/>
    </Module>
  </Document>
</Export>
